html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    --sb-var: grey;
    --sbt-var: #A8A8A8;
}

#top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#h1a {
    text-align: left;
    font-size: 40px;
    flex: 20;
    margin-bottom: 0;
}

#h1b {
    text-align: right;
    flex: 1;
}

ul {
    list-style-type: none;
    list-style: none;
    text-align: left;
    font-size: x-large;
}

ul li {
    margin-top: 5px;
}

.toc {
    font-size: x-large;
    cursor: pointer;
}

.letter {
    font-size: 60px;
}

#contents {
    display: flex;
    justify-content: center;
}

#a_z {
    width: 7%;
    background-color: lightgray;
    float: left;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 85vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

#data {
    scroll-behavior: smooth;
    width: 58%;
    background-color: lightgray;
    float: left;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 85vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

#right {
    width: 27%;
    float: left;
}

.new {
    background-color: lightgray;
    border-radius: 15px;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 3px;
}

#gap {
    height: 1px;
    width: 2%;
    float: left;
}

#gap2 {
    height: 20px;
    width: 1px;
}

#gap3 {
    height: 50px;
    width: 1px;
}

.ipBox {
    width: 100%;
    background-color: white;
    font-size: large;
    border-radius: 10px;
    border-style: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition-duration: 0.25s;
}

.ipBox:hover {
    background-color: darkgrey;
}

.ipBut {
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

.ipBut:hover {
    background-color: darkgrey;
}

#submitUL {
    width: 80%;
}

#ulBut{
    margin: 7px;
    margin-top: 20px;
    text-align: center;
}

#nTitle {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

#masterlist ul li {
    background-color: darkgrey;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    height: 32px;
    overflow: hidden;
    transition-duration: 0.2s;
}

#masterlist li {
    margin-top: 10px;
}

.idata {
    background-color: darkgrey;
    transition-duration: 0.3s;
}

.idatalabels {
    flex: 3.5;
}

#impData {
    flex: 20;
}

#impData2 {
    flex: 20;
}

#impData3 {
    flex: 20;
}

#impData4 {
    flex: 20;
    white-space: nowrap;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--sbt-var);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-var);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.rowE {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
}

#liNam {
    text-align: left;
    margin-left: 10px;
    flex: 20;
}

.liButton {
    text-align: right;
    cursor: pointer;
    margin-right: 10px;
    flex: 1;
}

.editButton {
    text-align: right;
    cursor: pointer;
    font-size: 21px;
    padding-top: 1.8px;
    margin-right: 20px;
    flex: 1;
}

.popbox {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.247);
    left: 0;
    margin: auto;
    top: 0%;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#filebox {
    position: absolute;
    padding: 15px;
    background-color: lightgrey;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    overflow: auto;
}

.collapsible {
    cursor: pointer;
    text-align: right;
    margin-right: 10px;
    flex: 1;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.popbox div button {
    cursor: pointer;
}

.popbox div input {
    cursor: pointer;
}

.tpBut {
    background-color: darkgrey;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    padding: 12px 12px;
    margin: 8px 10px;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

.tpBut:hover {
    filter: brightness(1.3) !important;
}

.popboxS {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.247);
    left: 0;
    margin: auto;
    top: 0%;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#settingBox {
    position: absolute;
    padding: 15px;
    background-color: lightgrey;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    overflow: auto;
    padding-bottom: 30px;
}

#flexedbox p {
    display: flex;
    font-size: larger;
}

#flexedbox p select {
    font-size: medium;
}

.setL {
    font-size: larger;
    text-align: left;
    margin-left: 10px;
    flex: 20;
}

.setV {
    font-size: larger;
    text-align: left;
    margin-right: 10px;
    flex: 20;
    transition-duration: 0.2s;
    cursor: pointer;
}

#fileImported {
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    width: 80%;
    margin-bottom: 10px;
}

.setV option {
    cursor: pointer;
}

#fileImported:hover {
    background-color: darkgrey;
}

#link {
    text-decoration: none;
    color: black;
}

#justifydiv {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#abut {
    width: 48%;
    background-color: lightgray;
    float: left;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#abut p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    height: 2px;
    border: none;
    width: 50%;
}

#flexedbox span {
    display: inline-block !important;
}

#flexedbox a span {
    display: inline-block !important;
}

#ulBut span {
    display: inline-block !important;
}

