html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#innercontent {
    flex: 1 1 auto;
}

.hidden {
    display: none !important;
}

#topbar {
    flex: 0 1 auto;
    background-color: red;
}

#title {
    font-size: 2em;
    margin: .3em;
    display: inline-block;
}

#newbutton {
    float: right;
    text-align: center;
}

#aboutbutton {
    float: right;
    text-align: center;
}

.typerpopouter {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.typerpop {
    display: flex;
    border-radius: .7em;
    flex-direction: column;
    background-color: lightgrey;
    min-width: 60%;
    width: fit-content;
    align-items: center;
    max-width: 90%;
    height: fit-content;
    max-height: 95%;
    margin: 0 auto;
    z-index: 8;
    position: absolute;
    overflow-y: auto;
}

.nTitle {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: .4em;
    margin-bottom: .4em;
}

.submitUL {
    padding: 0;
    list-style-type: none;
    width: 80%;
}

.submitUL li:not(:first-child) {
    font-size: large;
}

.ipBox {
    width: 100%;
    background-color: white;
    font-size: large;
    border-radius: .5em;
    border-style: none;
    padding: .5em .9em;
    margin-top: .4em;
    margin-bottom: .4em;
    box-sizing: border-box;
    transition-duration: 0.25s;
}

.ipBox:hover {
    background-color: darkgrey;
}

.ulBut{
    text-align: center;
}

#naback {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
}

#scrollContainer {
    max-width: 70%;
    width: fit-content;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    margin: auto;
    height: fit-content;
    padding: 1.2%;
    background-color: turquoise;
    border-radius: .7em;
    margin-top: 1%;
    margin-bottom: 1%;
}

#scrollContainer a {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    border-radius: .3em;
    cursor: pointer;
    transition-duration: 500ms;
}

#scrollContainer a:hover {
    background-color: grey;
}

#accountContainer {
    background-color: brown;
    min-width: 80%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 2%;
    padding: 3%;
    padding-top: 1.5%;
    overflow-y: auto;
    flex: 1 1 auto;
}

.account {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: .8em;
    /* height: 1em; */
    vertical-align: middle;
    height: fit-content;
    background-color: azure;
    overflow: hidden;
}

.account:not(:last-child) {
    margin-bottom: 1em;
}

.account.expanded a:first-of-type {
    height: 1em;
    padding-bottom: .8em;
}

.inneraccountcontainer {
    display: none;
    flex-direction: column;
}

.accountrow:not(:last-child) {
    margin-bottom: .6em
}

.accountrow:first-child {
    margin-top: .6em
}

.accountrow {
    display: flex;
    flex-direction: row;
}

.textL {
    flex: 0 0 6em;
}

.text {
    margin-right: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
}

#accButtons {
    float: right;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    margin-left: .5em;
    font-size: 1em;
}

#aboutpage {
    text-align: center;
}

.button {
    margin: .5em;
    padding: .7em;
    background-color: grey;
    border-radius: .3em;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    color: white;
    user-select: none;
    text-decoration: none;
    transition-duration: 500ms;
}

.button:hover {
    background-color: darkgrey;
}