html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#innercontent {
    flex: 1 1 auto;
}

.hidden {
    display: none !important;
}

#topbar {
    /* width: 100%;
    height: fit-content;
    overflow: hidden; */
    flex: 0 1 auto;
    background-color: red;
}

#title {
    font-size: 2em;
    margin: .3em;
    display: inline-block;
}

#newbutton {
    float: right;
    text-align: center;
}

#aboutbutton {
    float: right;
    text-align: center;
}

#na_container {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#newaccount {
    display: flex;
    border-radius: .7em;
    flex-direction: column;
    background-color: darkgrey;
    min-width: 60%;
    width: fit-content;
    align-items: center;
    max-width: 90%;
    height: fit-content;
    margin: 0 auto;
    z-index: 8;
    position: absolute;
}

#naback {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
}

#accountContainer {
    background-color: brown;
    min-width: 80%;
    max-width: 80%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 3.5%;
    padding: 3%;
    overflow-y: auto;
    flex: 1 1 auto;
}

.account {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: .8em;
    height: 1em;
    background-color: azure;
    overflow: hidden;
}

.account.expanded {
    height: fit-content;
}

.inneraccountcontainer {
    display: flex;
    flex-direction: column;
}

.site, .accountrow:not(:last-child) {
    margin-bottom: .6em
}

.accountrow {
    display: flex;
    flex-direction: row;
}

.textL {
    flex: 0 0 5em;
}

.text {
    margin-right: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
}

#accExpand {
    float: right;
    cursor: pointer;
    user-select: none;
}

.button {
    margin: .5em;
    padding: .7em;
    background-color: grey;
    border-radius: .3em;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    color: white;
    user-select: none;
}